# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Site Settings
locale                   : "en-US"
title                    : "habd.as"
title_separator          : "-"
name                     : "Josh Habdas"
description              : "Building the future Web"
url                      : http://habd.as # the base hostname & protocol for your site e.g. "https://jhabdas.github.io"
baseurl                  : # the subpath of your site, e.g. "/blog"
repository               : https://github.com/jhabdas/habd.as/
teaser                   : programming-942487_500.jpg # filename of teaser fallback teaser image placed in /images/, .e.g. "500x300.png"
# breadcrumbs            : # true, false (default)
words_per_minute         : 200
comments:
  provider               : disqus # false (default), "disqus", "facebook", "google-plus", custom"
  disqus:
    shortname            : habdas # https://help.disqus.com/customer/portal/articles/466208-what-s-a-shortname-
  facebook:
    # https://developers.facebook.com/docs/plugins/comments
    appid                :
    num_posts            : # 5 (default)
    colorscheme          : # "light" (default), "dark"

# SEO Related
google_site_verification : B7WE9il5wd1Mjl9PZttf1pLgrxVmric-D7-az4KxaCY
bing_site_verification   : DBC165D1E8CE148BED6D48D4F31A3831
alexa_site_verification  : # Claim a site feature retired May 2016
yandex_site_verification : 4006a8813cbb9fdb

# Social Sharing
twitter:
  username               :
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 : # Open Graph/Twitter default site image
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
social:
  type                   : # Person or Organization (defaults to Person)
  name                   : # If the user or organization name differs from the site's name
  links: # An array of links to social media profiles

# Analytics
analytics:
  provider               : segment # false (default), "segment", "google", "google-universal", "custom"
  google:
    tracking_id          :
  segment:
    write_key            : YwZOQGAgThWNCemaxEhy6wrKYvpiNztK

# Google AdSense
google_ad_client         :
google_ad_slot           :


# Site Author
# See also _data/authors.yml
author:
  name             : "Josh Habdas"
  avatar           : "bio-photo.jpg"
  bio              : "Turning product and design vision into stunning online experiences."
  location         : "Chicago, USA"
  email            :
  uri              :
  bitbucket        :
  codepen          : jhabdas
  dribbble         :
  flickr           :
  facebook         :
  foursquare       : 4423672
  github           : jhabdas
  google_plus      :
  keybase          :
  instagram        : jhabdas
  lastfm           : jhabdas
  linkedin         : jhabdas
  pinterest        :
  soundcloud       :
  stackoverflow    : 712334/josh-h
  steam            :
  tumblr           :
  twitter          :
  vine             :
  weibo            :
  xing             :
  youtube          :


# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - _assets/js/plugins
  - _assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Outputting
permalink: /:title/
paginate: 11  # amount of posts to show
paginate_path: /page:num/
timezone: # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins
gems:
  - jekyll-assets
  - jekyll-archives
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji


# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path/my-awesome-category/index.html ~> path: /
categories:
  type: jekyll-archives
  path: /categories/
tags:
  type: jekyll-archives
  path: /tags/
# https://github.com/jekyll/jekyll-archives
jekyll-archives:
  enabled:
    - categories
    - tags
  layouts:
    category: archive-taxonomy
    tag: archive-taxonomy
  permalinks:
    category: /categories/:name/
    tag: /tags/:name/


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development

# Collections
# - https://jekyllrb.com/docs/collections/

collections:
  talks:
    output: true
    permalink: /:collection/:path/

# Jekyll Assets
# - https://jekyll.github.io/jekyll-assets/
assets:
  sources:
    - _assets/css
    - _assets/js
  autoprefixer:
    browsers: ["last 2 versions","> 5%","IE 9"]

# Front Matter defaults
# - https://jekyllrb.com/docs/configuration/

defaults:
  - # _pages
    scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
      comments: false
  - # _posts
    scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  - # _talks
    scope:
      path: ""
      type: talks
    values:
      layout: single
      author_profile: false
      share: true
