<script src="{{ site.url }}/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>
<!-- Consider using Modernizr.load to pull jquery and add fallback -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>

{% if site.segment_io %}
<!-- Async Segment code snippet -->
<script type="text/javascript">
!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
analytics.load("{{ site.segment_io }}");
analytics.page()
}}();
</script>
{% endif %}

<!-- Enable AnchorJS -->
<script>addAnchors('.entry-content h1, .entry-content h2, .entry-content h3');</script>

<!-- Fade-in SumoMe Share Client on scroll -->
<style>
  .sumome-share-client-wrapper {
    opacity: 0;
  }
</style>
<script>
(function () {

  var defaults = {
    select: function () {
      return document.querySelector('.sumome-share-client-wrapper');
    },
    fromTop: 400
  }

  var lastScrollY = 0;
  var ticking = false;
  var el = defaults.selector;

  function onScroll () {
    lastScrollY = window.scrollY;
    requestTick();
  }

  function requestTick () {
    if (!ticking) {
      requestAnimationFrame(update);
      ticking = true;
    }
  }

  function update () {
    if (lastScrollY > defaults.fromTop) {
      if (el = defaults.select()) { // >=]
        el.style.removeProperty('opacity');
        el.classList.add('animated', 'fadeIn');
        window.removeEventListener('scroll', onScroll, false);
      }
    }
    ticking = false;
  }

  window.addEventListener('scroll', onScroll, false);
})();
</script>

{% if page.comments != false %}{% include disqus_comments.html %}{% endif %}
