<section class="page__support">
  {% if site.data.ui-text[site.locale].support_on_label %}
    <h4 class="page__support-title">{{ site.data.ui-text[site.locale].support_on_label }}</h4>
  {% endif %}

  <p>Like to see more of this? Please support me and help continue keeping future posts ad-free.</p>

  <a href="https://www.patreon.com/jhabdas" class="btn btn--patreon" title="{{ site.data.ui-text[site.locale].share_on_label }} Patreon"><img src="https://s3.amazonaws.com/patreon_public_assets/toolbox/patreon_white.png"></a>

</section>
