---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    <div id="blackfriday">
      <style>
        #blackfriday {
          position: absolute;
          height: 100vh;
          width: 100vw;
          background-color: black;
          z-index: 30;
        }
        .masthead {
          z-index: 40;
          width: 100vw;
          border-bottom: 0;
        }
        .greedy-nav {
          background-color: transparent;
        }
        .greedy-nav a {
          color: transparent;
        }
        .greedy-nav a:hover {
          color: transparent;
        }
      </style>
    </div>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    {% include footer/custom.html %}

  </body>
</html>
